html {
    overflow-y: hidden !important;
}


#youtube-navbar {
    margin: 0px 0px;
    padding: 0 16px;
}

.width-75 {
    width: 75% !important;
}

.width-100 {
    width: 100% !important;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: lightskyblue;
}

.bg-almost-white {
    background-color: #f9f9f9;
}

.height-100vh {
    height: 100vh;
}

.my-menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.my-menu-item {
    height: 52px;
    width: 100%;
}

aside {
    padding: 0 !important;
}

.icon-item {
    margin: 0 .5rem 0 2rem; /* 0 36 50 0 */
}

.whole-menu-item:hover {
    background-color: #f2f2f2;
}

.word-menu-item:hover {
    background-color: transparent !important ;
    text-decoration: none;
}

#sidebar {
    /* overflow-y: auto; */
    flex-grow: 15;
    
}

.terms {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.terms-link {
    color: red;
}

.selected {
    background-color: #e5e5e5 !important;
}

.selected:hover {
    background-color: #d9d9d9 !important;
}

.selected-icon {
    color: red !important;
}

#main-cont {
    flex-grow: 85;
}

.recommended {
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
}

#videos-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



.video-item {
    width: 21%;
    height: 230px;
    background-color: lightsalmon;
}

.main-video-item {
    width: 90%;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.term-cont {
    overflow-y: auto;
}


/*
THE INFOMERCIALS
*/

#info-1 {
    position: absolute;
    top: 10%;
    left: 20%;
}


#info-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}

#info-3 {
    position: absolute;
    top: 70%;
    left: 30%;
}

#info-4 {
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 3;
}

#info-5 {
    position: absolute;
    top: 30%;
    left: 30%;
}
#info-6 {
    position: absolute;
    top: 0%;
    left: 80%;
}
#info-7 {
    position: absolute;
    top: 60%;
    left: 15%;
}
#info-8 {
    position: absolute;
    top: 20%;
    left: 50%;
}
#info-9 {
    position: absolute;
    top: 80%;
    left: 80%;
}
#info-10 {
    position: absolute;
    top: 74%;
    left: 45%;
}
/*skip 11*/
#info-12 {
    position: absolute;
    top: 40%;
    left: 18%;
}
#info-13{
    position: absolute;
    top: 0%;
    left: 37%;
}
#info-14 {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 0;
}
#info-15 {
    position: absolute;
    top: 80%;
    left: 17%;
}
#info-16 {
    position: absolute;
   
}
#info-17 {
    position: absolute;
    top: 38%;
    left: 53%;
    z-index: 1;
}

#info-18 {
    position: absolute;
    top: 47%;
    left: 87%;
}
#info-19 {
    position: absolute;
    top: 57%;
    left: 73%;
}



